body {
    height: 100vh;
    width: 100vw;
}


.logo-div {
    width: 200px;
    height: 80px;
}

.logo-img {
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid white;
}