body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.content {
    margin-left: 30vw;
    margin-right: 30vw;
    overflow-y: auto;
    box-sizing: border-box;
    color: white;
    background-color: black;
    width: 40vw;
}

.profile-info {
    border-bottom: 1px solid white;
    width: 100%;
    min-height: 300px;
}

.change-form {
    width: 20vw;
    margin: 0 10vw;
    padding: 10px;
    z-index: 1;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}

.close-btn {
    align-self: start
}

.hidden {
    display: none;
}
